@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

/*
 * Globals
 */

@font-face {
    font-family: 'TradeGothic LT';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/trade-gothic-lt.woff') format('woff');
}

::selection {
  color: #fff;
  background-color: #6c757d;
  text-shadow: none;
}

a,
a:focus,
a:hover {
  color: #333;
}

.form-control:focus {
  border: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .8);
}

html,
body {
  height: 100%;
  background-repeat: repeat;
  background-image: url('/images/grid.png');
}

body {
  font-family: 'TradeGothic LT';
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

.cover-container {
  max-width: 42em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-text {
  color: #333;
}

.main-text-desc {
  color: #6c757d;
}

.nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #6c757d;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  transition: .5s;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: #6c757d;
  transition: .5s;
}

.nav-link {
  margin-left: 1rem;
}

.active {
  color: #333;
  border-bottom-color: #6c757d;
}

@media (max-width: 1000px) {
  .navbar-nav {
    text-align: center;
  }

  .active {
    border-bottom-color: transparent;
  }
}

@media (max-width: 320px) {
  .footer {
    display: none;
  }

  form {
    /*margin-bottom: 20px;*/
  }
}

.btn-secondary {
  color: #333;
  background-color: #fff;
  border: none;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .8);
  transition: .3s;
}
.btn-lg:hover {
  color: #6c757d;
  box-shadow: none;
  transition: .3s;
}

.footer .container {
  padding: 15px;
}

.footer a {
  font-weight: 700;
}
